 <div><h3>EVALUATION</h3></div>

 <div class="example-container">
  <mat-card class="mat-card test">
      <mat-card-header>
          <mat-card-title>Create New Test</mat-card-title>
      </mat-card-header>
      <form [formGroup]="createtestform" (ngSubmit)="onCreateTest()">
          <mat-card-content>
              <mat-form-field hintLabel="Max 10 characters" appearance="outline" class="formfield">
                  <mat-label>Test Name</mat-label>
                  <input matInput #input maxlength="10" placeholder="Test Name" formControlName="test_name">
              </mat-form-field>

              

              <mat-form-field appearance="outline" class="formfield">
                  <mat-label>Select an Board</mat-label>
                  <mat-select disableRipple formControlName="board">
                      <mat-option value="cbse">CBSE</mat-option>
                      <mat-option value="icse">ICSE</mat-option>
                  </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline" class="formfield">
                  <mat-label>Select an Class</mat-label>
                  <mat-select disableRipple formControlName="class">
                      <mat-option value="1">class 1</mat-option>
                      <mat-option value="2">class 2</mat-option>
                      <mat-option value="3">class 3</mat-option>
                  </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline" class="formfield">
                  <mat-label>Select an subject</mat-label>
                  <mat-select disableRipple formControlName="subject">
                      <mat-option value="english">English</mat-option>
                      <mat-option value="hindi">Hindi</mat-option>
                      <mat-option value="math">Math</mat-option>
                  </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline" class="formfield">
                  <mat-label>Select an number of question</mat-label>
                  <mat-select disableRipple formControlName="no_of_question">
                      <mat-option value="5">5</mat-option>
                      <mat-option value="10">10</mat-option>
                      <mat-option value="15">15</mat-option>
                  </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline" class="formfield">
                  <mat-label>Select an Test Level</mat-label>
                  <mat-select disableRipple formControlName="level">
                      <mat-option value="bigginer">Bigginner</mat-option>
                      <mat-option value="intermidiate">Intermidiate</mat-option>
                      <mat-option value="advanced">advanced</mat-option>
                  </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline" class="formfield">
                  <mat-label>Module</mat-label>
                  <mat-select disableRipple formControlName="module">
                      <mat-option value="parts">Parts Of Speech</mat-option>
                      <mat-option value="tense">Tense</mat-option>
                      <mat-option value="voice">Voice</mat-option>
                  </mat-select>
              </mat-form-field>
          </mat-card-content>

          <mat-form-field hintLabel="Max 10 characters" appearance="outline" class="formfield">
            <mat-label>Duration</mat-label>
            <input matInput #input maxlength="10" placeholder="Duration" formControlName="duration">
        </mat-form-field>

          <mat-form-field hintLabel="Max 10 characters" appearance="outline" class="formfield">
            <mat-label>Marks</mat-label>
            <input matInput #input maxlength="10" placeholder="Marks" formControlName="marks">
        </mat-form-field>

         
          <mat-card-actions>
              <button mat-raised-button color="primary">Add Question</button>
          </mat-card-actions>
          
      </form>
  </mat-card>
</div>

<!-- add question form part -->
<div class="example-container" *ngIf="addQuestion">
  <mat-card class="mat-card test-content">
      <mat-card-header>
          <mat-card-title>Add question {{ no_question_added+1 }}</mat-card-title>
      </mat-card-header>
      <form [formGroup]="addQuestionForm" (ngSubmit)="onAddQuestion()">
          <mat-card-content>
              <mat-form-field hintLabel="Add questions " appearance="outline" class="formfield">
                  <mat-label>Question</mat-label>
                  <input matInput #input maxlength="500" placeholder="Test Name" formControlName="question">
              </mat-form-field>

              <mat-form-field hintLabel="Add Correct Answer" appearance="outline" class="formfield">
                  <mat-label>Correct Answer</mat-label>
                  <input matInput #input maxlength="500" placeholder="Test Name" formControlName="correctanswer">
              </mat-form-field>

              <mat-form-field hintLabel="Add Wrong Answer 1" appearance="outline" class="formfield">
                  <mat-label>Wrong Answer 1</mat-label>
                  <input matInput #input maxlength="500" placeholder="Test Name" formControlName="wronganswer1">
              </mat-form-field>

              <mat-form-field hintLabel="Add Wrong Answer 2" appearance="outline" class="formfield">
                  <mat-label>Wrong Answer 2</mat-label>
                  <input matInput #input maxlength="500" placeholder="Test Name" formControlName="wronganswer2">
              </mat-form-field>

              <mat-form-field hintLabel="Add Wrong Answer 3" appearance="outline" class="formfield">
                  <mat-label>Wrong Answer 3</mat-label>
                  <input matInput #input maxlength="500" placeholder="Test Name" formControlName="wronganswer3">
              </mat-form-field>

              <mat-form-field hintLabel="Add Explanation" appearance="outline" class="formfield">
                  <mat-label>Explanation</mat-label>
                  <input matInput #input maxlength="500" placeholder="Test Name" formControlName="explanation">
              </mat-form-field>
          </mat-card-content>
          <mat-card-actions>
              <button mat-raised-button color="primary">Add Question {{ no_question_added+1 }}</button>
          </mat-card-actions>
      </form>
  </mat-card>
</div>

 

